
<main class=" d-flex">

<div class="col-12  flex-sm-column  ">
  
    <div class="main-1 flex-column   mb-3">          
      <div class="main-1-section-1 col ">
          <h1 class="d-flex justify-content-center col">Hey There.</h1>
          <h1 class="d-flex justify-content-center col">I'm Railon</h1>
          <h4 class="d-flex justify-content-center col">I'm a Software Developer</h4>
        <p class="d-flex justify-content-center  text-center col  p-4">
          I can help you build a product , feature or website. Look through some of my work and experience! If you like what you see and have a project you need coded, 
          don’t hestiate to contact me.
        </p>

        <div class=" text-dark d-flex justify-content-center ">
          <p class="logo-p align-self-center">Lets Connect</p>
          <a href="https://www.facebook.com/RailonA.ArtStudio">
          <i class="fab fa-facebook-f text-dark"></i>
          </a>
          <a href="https://www.instagram.com/railon.a/">
            <i class="fab fa-instagram text-dark"></i>
          </a>
          <a href="https://twitter.com/RailonAcosta">
          <i class="fab fa-twitter text-dark"></i>
          </a>
          <a href="https://www.linkedin.com/in/railon-acosta/">
            <i class="fab fa-linkedin-in text-dark" ></i>
          </a>
          <a href="https://github.com/RailonA">
            <i class="fab fa-github text-dark"></i>
          </a>
        </div> 
          <div class="line flex-xs-column d-sm-flex justify-content-center col-12">
              <div  class="col-xs-12 col-md-4 text-center justify-content-center m-3">
                <h3>Language</h3>
                <p>JavaScript</p>
                <p>Ruby</p>
                <p>Html</p>
                <p>Css</p>
              </div>
              <div class="col-xs-12 col-md-4 text-center justify-content-center m-3">
                <h3>Framework</h3>
                <p>Bootstrap</p>
                <p>Ruby on Rails</p>
                <p>RSpec</p>
                <p>CapyBara</p>
              </div>
              <div class="col-xs-12 col-md-4 text-center justify-content-center m-3">
                <h3>Skills</h3>
                <p>Codekit</p>
                <p>Github</p>
                <p>Codepen</p>
                <p>Gitlab</p>
              </div>
           </div>
      </div>
     </div>

  <div class="main-2 flex-column page-row-grey ">

    <div class= "flex-xs-column flex-sm-column d-md-none">

      <h3 class="project-section ">My Recent Projects</h3>

      <div class="project_1 col-sm-12 col-md-5">
        <div class="d-flex justify-content-center col">
            <%= cl_image_tag( "planeGame_dwvwyl.png", :class=> " d-flex justify-content-center col project_2_img col-md-4")  %>
        </div>
        <a href="https://github.com/RailonA/rpg-plane-game">
            <h3 class="d-flex justify-content-center">Title: RPG Plane Game</h3>
        </a>
        <a class="btn btn-light text-dark m-2" href="https://railona.github.io/rpg-plane-game/">Live Link
        </a>
        <p>Discription:</p>
        <p>This project is a capstone project required by Microverse, after completing the javascript curriculum. This project is a 2D Game built-in Javascript and Phaser-3.</p>
      </div>

      <div class="project_2 col-sm-12 col-md-6 col-lg-6">
        <div class="d-flex justify-content-center col">
            <%= cl_image_tag( "weatherApp_ry3a5o.png", :class=> " d-flex justify-content-center col project_2_img col-md-4")  %>
        </div>
        <a href="https://github.com/RailonA/weatherApp">
          <h3 class="d-flex justify-content-center">Title: Weather App</h3>
        </a>
       <a class="btn btn-light text-dark m-2" href="https://railona.github.io/weatherApp/">
          Live Link
        </a>
        <p>Discription:</p>
        <p>This project is part of Javascript Module with the aim of building an advanced Weather App that displays details about the weather of a typed city-town.</p>
      </div>

      <div class="project_3 col-sm-12 col-md-6 col-lg-6">
        <div class="d-flex justify-content-center col">
          <%= cl_image_tag( "restaurentPage_jn3rps.png", :class=> " d-flex justify-content-center col project_4_img col-md-4")  %>
        </div>
        <a href="https://github.com/RailonA/restaurentPage">
          <h3 class="d-flex justify-content-center">Title: Restaurent Page</h3>
        </a>
       <a class="btn btn-light text-dark m-2" href="https://railona.github.io/restaurentPage/">
          Live Link
        </a>
        <p>Discription:</p>
        <p>A single-page app built with JavaScript that uses a restaurant page template.</p>
      </div>

      <div class="project_4 col-sm-12 col-md-5 col-lg-5">
        <div class="d-flex justify-content-center col">
          <%= cl_image_tag( "twitterRedesign_xuqjha.png", :class=> " d-flex justify-content-center col project_4_img col-md-4")  %>
        </div>
        <a href="https://github.com/RailonA/Twitter-redesign">
          <h3 class="d-flex justify-content-center">Title: Twitter Redesign</h3>
        </a>
       <a class="btn btn-light text-dark m-2" href="https://mytwitterdesign.herokuapp.com/login">
          Live Link
        </a>
        <p>Discription:</p>
        <p>You will be able to sign in, sign up at the home page, post thoughts/opinions, only the users who sign in can see and create an opinion, if you opt to sign out, then you won’t be able to see the opinions at all. You can upload your profile picture and cover photo. You can follow other users and see their opinions directly on your home page.</p>
      </div>

    </div>

    <div class= "d-none d-md-block flex-md-column col-12">
      <h3 class="project-section ">My Recent Projects</h3>

        <div class= "d-flex justify-content-center col-12">
          <div class="project_1 col-sm-12 col-md-5 col-lg-5">
            <div class="d-flex justify-content-center col">
                <%= cl_image_tag( "planeGame_dwvwyl.jpg", :class=> " d-flex justify-content-center project_1_img  col col-md-4")  %>
            </div>
            <a href="https://github.com/RailonA/rpg-plane-game">
              <h3 class="d-flex justify-content-center">Title: RPG Plane Game</h3>
            </a>
            <a class="btn btn-light text-dark m-2" href="https://railona.github.io/rpg-plane-game/">
              Live Link
            </a>
            <p>Discription:</p>
            <p> This project is a capstone project required by Microverse, after completing the javascript curriculum. This project is a 2D Game built-in Javascript and Phaser 3.</p>
          </div>

          <div class="project_2 col-sm-12 col-md-5 col-lg-5">
            <div class="d-flex justify-content-center col">
              <%= cl_image_tag( "weatherApp_ry3a5o.png", :class=> " d-flex justify-content-center col project_2_img col-md-4")  %>
            </div>
            <a href="https://github.com/RailonA/weatherApp">
              <h3 class="d-flex justify-content-center">Title: Weather App</h3>
            </a>
            <a class="btn btn-light text-dark m-2" href="https://railona.github.io/weatherApp/">
                Live Link
              </a>
            <p>Discription:</p>
            <p>This project is part of Javascript Module with the aim of building an advanced Weather App that displays details about the weather of a typed city-town.</p>
          </div>
        </div>

        <div class= "d-flex justify-content-center col-12">
          <div class="project_3 col-sm-12 col-md-5 col-lg-5">
            <div class="d-flex justify-content-center col">
              <%= cl_image_tag( "restaurentPage_jn3rps.png", :class=> " d-flex justify-content-center col project_4_img col-md-4")  %>
            </div>
            <a href="https://github.com/RailonA/restaurentPage">
              <h3 class="d-flex justify-content-center">Title: Restaurent Page</h3>
            </a>
            <a class="btn btn-light text-dark m-2" href="https://railona.github.io/restaurentPage/">
               Live Link
            </a>
            <p>Discription:</p>
            <p>A single-page app built with JavaScript that uses a restaurant page template.</p>
          </div>
          
          <div class="project_4 col-sm-12 col-md-5 col-lg-5">
            <div class="d-flex justify-content-center col">
              <%= cl_image_tag( "twitterRedesign_xuqjha.png", :class=> " d-flex justify-content-center col project_4_img col-md-4")  %>
            </div>
            <a href="https://github.com/RailonA/Twitter-redesign">
              <h3 class="d-flex justify-content-center">Title: Twitter Redesign</h3>
            </a>
            <a class="btn btn-light text-dark m-2" href="https://mytwitterdesign.herokuapp.com/login">
                Live Link
              </a>
            <p>Discription:</p>
            <p>You will be able to sign in, sign up at the home page, post thoughts/opinions, only the users who sign in can see and create an opinion, if you opt to sign out, then you won’t be able to see the opinions at all. You can upload your profile picture and cover photo. You can follow other users and see their opinions directly on your home page.</p>
          </div>
        </div>

    </div> 

  </div>

  
  <div class="main-3 flex-column justify-content-center">
  <div class="col pt-5">
        <%= render  partial: "users/form" %>
  </div>
  </div>


</div>

</main>