

<div class="">

      <div class="d-column d-md-none">
        <div class="d-flex col art justify-content-center">
        <%= image_tag("art09.jpg", :alt => "rss feed")  %>
        </div>
        <div class="d-flex col-12 art justify-content-center">
        <%= image_tag("art11.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-12 art justify-content-center">
        <%= image_tag("art13.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-12 art justify-content-center">
        <%= image_tag("art06.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-12 art justify-content-center">
        <%= image_tag("art12.jpg", :alt => "rss feed") %>
        </div>
        <div class=" d-flex art justify-content-center">
          <%= image_tag("art-10.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-12 art justify-content-center">
          <%= image_tag("art-05.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-08 art justify-content-center">
          <%= image_tag("art-08.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-08 art justify-content-center">
          <%= image_tag("art-01.jpg", :alt => "rss feed") %>
        </div>
        <div class="d-flex col-08 art justify-content-center">
          <%= image_tag("art-02.jpg", :alt => "rss feed") %>
        </div>
      </div>

      <div class="d-none d-md-flex  d-lg-none  ">
        <div class="d-md-column">
            <div class="d-flex col-6 art justify-content-center">
            <%= image_tag("art09.jpg", :alt => "rss feed") %>
            <%= image_tag("art11.jpg", :alt => "rss feed") %>
          </div>

          <div class="d-md-flex  ">
              <div class="d-flex col-10 art justify-content-center art-6">
              <%= image_tag("art06.jpg", :alt => "rss feed") %>
              </div>
          </div>

          <div class="d-md-flex  ">
            <div class=" d-flex col-6 art justify-content-center">
            <%= image_tag("art13.jpg", :alt => "rss feed") %>
            <%= image_tag("art12.jpg", :alt => "rss feed") %>
            </div>
          </div>

          <div class="d-md-flex ">
            <div class=" d-flex col-6 art justify-content-center">
            <%= image_tag("art-10.jpg", :alt => "rss feed") %>
            </div> 
          </div>

          <div class="d-md-flex ">
             <div class=" d-flex col-6 art justify-content-center">
             <%= image_tag("art-05.jpg", :alt => "rss feed") %>
             <%= image_tag("art-08.jpg", :alt => "rss feed") %>
             </div>
           </div>

           <div class="d-md-flex ">
            <div class="d-flex col-6 art justify-content-center">
            <%= image_tag("art-01.jpg", :alt => "rss feed") %>
            <%= image_tag("art-02.jpg", :alt => "rss feed") %>
            </div> 
           </div>
        
        </div>  
       </div>
 
       <div class="d-none  d-md-none d-lg-flex  ">
         <div class="d-lg-column container  ">
            
             <div class=" d-flex  art justify-content-center ">
                <%= image_tag("art09.jpg", :alt => "rss feed") %>
                <%= image_tag("art11.jpg", :alt => "rss feed") %>
                <%= image_tag("art13.jpg", :alt => "rss feed") %>
                </div>
                

                <div class="d-flex art justify-content-center">
                <%= image_tag("art06.jpg", :alt => "rss feed") %>
                  <%= image_tag("art12.jpg", :alt => "rss feed") %>
                </div>

            <div class="d-flex art justify-content-center">
               <%= image_tag("art-05.jpg", :alt => "rss feed") %>
                <%= image_tag("art-10.jpg", :alt => "rss feed") %>
            </div>


            <div class="d-flex col-12 art justify-content-center ">
              <%= image_tag("art-08.jpg", :alt => "rss feed") %>
                <%= image_tag("art-02.jpg", :alt => "rss feed") %>
                <%= image_tag("art-01.jpg", :alt => "rss feed") %>
          </div>

          </div>
          </div>

</div>