
<main>

<div class="main-3-Art">
      <p class="d-flex justify-content-center">
          <%= cl_image_tag( "self-art_hetmbx.jpg", :class=> "self-artPic d-flex justify-content-center main-3-section-2 col col-md-4 ")  %>
      </p>
      <div class="d-flex justify-content-center">
      <div class="page-div-white col-8 flex-column justify-content-center">
          <h2 class="text-center">Art</h2>
          <p class=" text-center p-4  ">
            I have always felt that art has been the way I can free my soul,
          It has been my way to sheld myself as well as express myself. I have always loved animals, and I enjoy the simplicity of mother nature, and through art, I can travel the world while in the comfort of home.
          </p>
      </div>
      </div>
       </div>

  <div class="d-column d-md-none">
      <div class="d-flex col art justify-content-center page-row-white">
        <%= cl_image_tag( "art09_sp97xj.jpg")  %>
      </div>
      <div class="d-flex col-12 art justify-content-center page-row-grey">
          <%= cl_image_tag( "art11_cx1hx9.jpg")  %>
      </div>
      <div class="d-flex col-12 art justify-content-center  page-row-white">
          <%= cl_image_tag( "art13_tkvn7u.jpg")  %>
      </div>
      <div class="d-flex col-12 art justify-content-center page-row-grey">
          <%= cl_image_tag( "art06_gnsfaw.jpg", :class=>"col-11")  %>
      </div>
      <div class="d-flex col-12 art justify-content-center page-row-white">
          <%= cl_image_tag( "art12_zqkjlh.jpg")  %>
      </div>
      <div class=" d-flex art justify-content-center page-row-grey">
          <%= cl_image_tag( "art10_dsu1su.jpg", :class=>"col-11")  %>
      </div>
      <div class="d-flex col-12 art justify-content-center page-row-white">
          <%= cl_image_tag( "art-05_yhltyo.jpg")  %>
      </div>
      <div class="d-flex col-08 art justify-content-center page-row-grey">
          <%= cl_image_tag( "art-08_taumss.jpg")  %>
      </div>
      <div class="d-flex col-08 art justify-content-center page-row-white">
        <%= cl_image_tag( "art-01_jl5nnt.jpg")  %>
      </div>
      <div class="d-flex col-08 art justify-content-center page-row-grey">
        <%= cl_image_tag( "art-02_lrvb1c.jpg")  %>
      </div>
  </div>

  <div class="d-none d-md-flex  d-lg-none  ">
    <div class="d-md-column col-12">

        <div class="d-flex  art justify-content-center page-row-white">
            <%= cl_image_tag( "art09_sp97xj.jpg")  %>
            <%= cl_image_tag( "art11_cx1hx9.jpg")  %>
        </div>

        <div class="d-flex col-12 art justify-content-center page-row-grey">
            <%= cl_image_tag( "art06_gnsfaw.jpg")  %>
        </div>

        <div class=" d-flex col-12 art justify-content-center page-row-white">
          <%= cl_image_tag( "art13_tkvn7u.jpg")  %>
          <%= cl_image_tag( "art12_zqkjlh.jpg")  %>
        </div>

        <div class=" d-flex col-12 art justify-content-center page-row-grey">
          <%= cl_image_tag( "art10_dsu1su.jpg")  %>
        </div> 

        <div class=" d-flex col-12 art justify-content-center page-row-white">
          <%= cl_image_tag( "art-05_yhltyo.jpg")  %>
            <%= cl_image_tag( "art-08_taumss.jpg")  %>
        </div>

        <div class="d-flex col-12 art justify-content-center page-row-grey">
          <%= cl_image_tag( "art-01_jl5nnt.jpg")  %>
          <%= cl_image_tag( "art-02_lrvb1c.jpg")  %>
        </div> 

    </div>  
  </div>

  <div class="d-none  d-md-none d-lg-flex col ">

    <div class=" d-column col-12  ">
      <div class=" d-flex  art  page-row-white justify-content-center">
        <%= cl_image_tag( "art09_sp97xj.jpg")  %>
        <%= cl_image_tag( "art11_cx1hx9.jpg")  %>
        <%= cl_image_tag( "art13_tkvn7u.jpg")  %>
      </div>
      <div class="d-flex art  page-row-grey justify-content-center">
        <%= cl_image_tag( "art06_gnsfaw.jpg")  %>
        <%= cl_image_tag( "art12_zqkjlh.jpg")  %>
      </div>
      <div class="d-flex art  page-row-white justify-content-center">
        <%= cl_image_tag( "art-05_yhltyo.jpg")  %>
        <%= cl_image_tag( "art10_dsu1su.jpg")  %>
      </div>
      <div class="d-flex art  page-row-grey justify-content-center">
        <%= cl_image_tag( "art-08_taumss.jpg")  %>
        <%= cl_image_tag( "art-02_lrvb1c.jpg")  %>
        <%= cl_image_tag( "art-01_jl5nnt.jpg")  %>
      </div>
    </div>

  </div>

</div>
</main>
