<nav class="d-column "> 
    
    <div colass=" about_page-row-white  col-12  about_page-row-grey justify-content-center">
        
        <div class="about_page-row-white d-flex justify-content-center  d-lg-none">
                <div class="img-text col-12  justify-content-center">
                    <div class=" d-flex justify-content-center">   
                        <%# <img class="self-img"> %>
                        <%= cl_image_tag( "self-link_pbmtnj.jpg", :class=> "self-img")  %>

                    </div>
                    <div class="  about_page-div-white  aboutMe-S-One d-flex justify-content-center text-center  p-8">
                      <p>Hello, my name is Railon Acosta, I am currently a student of Microverse which is a remote full-stack development school.
                      I am gaining experience working remotely with students from all around the world, perfecting my technical skills as well as my 
                      soft skills. By the end of my journey with Microverse, I will be certified with HTML & CSS, Ruby, Database, Ruby on Rails, Javascript,
                       React & Redux. As much as I enjoy coding and programming, I also enjoy drawing, painting, graphic design, and photography.
                        </p>
                    </div>
                </div>
        </div>

        <div class="about_page-row-white col-12 d-flex justify-content-center  d-none d-lg-flex">
                <div class="img-text col-4  justify-content-center">
                    <div class=" d-flex justify-content-center col-10">   
                        <%# <img class="self-img"> %>
                        <%= cl_image_tag( "self-link_pbmtnj.jpg", :class=> "self-img")  %>

                    </div>
                </div>
                <div class="  about_page-div-white  aboutMe-S-One d-flex justify-content-center col-7 text-center  p-8">
                     <p>Hello, my name is Railon Acosta, I am currently a student of Microverse which is an online curriculum for software developers.
                      I am gaining experience working remotely with students from all around the world, perfecting my technical skills as well as my 
                      soft skills. By the end of my journey with Microverse, I will be certified with HTML & CSS, Ruby, Database, Ruby on Rails, Javascript,
                       React & Redux. As much as I enjoy coding and programming, I also enjoy drawing, painting, graphic design, and photography. 
                       </p>
                </div>
        </div>
    </div>

    <div class="about_page-row-grey"> 
        <div>
            <h3>Work Experiance</h3>
            <div class ="about_page-div-grey justify-content-center  text-center  p-4">
                <p>My last job title was Technical Support Specialist for a credit card processing company that was based in Manhattan, New York but they had merchants from all over America.
                  I was hired to programmed credit card terminals and ship them to merchants, courtesyti call the merchants after shipping the terminal and assisted them through the installation process.
                  After a few months, I started assisting with business relations by networking with businesses and requesting information regarding their software,  hardware, and reseller programs.
                  After a year and a half, I was promoted to the Web Project Manager as well as the Marketing Project Manager. I worked on improving brand consistency throughout the website design as well as in their online presence, Facebook, Instagram, LinkedIn, and Yelp. I also helped to optimize the front-end web application for user-friendly about_pages that maximum speed,
                  scalability, and SEO.

                </p>
            </div>
        </div>
        <div>
            <h3>Hobbies</h3>
            </div>
            <div class="about_page-div-grey justify-content-center  text-center  p-4">
            <p>I am the kind of person that enjoys the little details of life, from the chilly wind on a hot summer day to the male cardinal that my brothers call Mr. C, singing early in the morning. I call these moments “picture-perfect moments”, and these are the moments I try capturing through my art. I try my best to capture the moment and bring the beauty of the moment to life for others.
           Through art, I am able to express myself without words and yet communicate with people from all around the world. I will continuously be working on the Art-Page, where you can take a virtual tour of my art portfolio.
 </p>
            </div>
    </div>

    <div class="social-network  d-column  d-md-none d-lg-none d-xl-none  ">
         
         <h3 class="d-flex justify-content-center mt-5">Social Network</h3>

        <div class="  about_page-row-white ">
            <a class=" justify-content-center" href="https://www.facebook.com/RailonA.ArtStudio">
                <h5 class="">Facebook</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://www.facebook.com/RailonA.ArtStudio">
                <%= cl_image_tag( "art14_big4uu.jpg", :class=> "facebook-self-img")  %>
            </a>
        </div>
        <div class="  about_page-row-grey">
            <a href="https://www.instagram.com/railon.a/">
                <h5 class="">Instagram</h5>
            </a>
                <a class = "d-flex justify-content-center" href="https://www.instagram.com/railon.a/">
                    <%= cl_image_tag( "art-17_dcsxu8.jpg", :class=> "instagram-self-img")  %>
                </a>
        </div>
        <div class="d-column about_page-row-white">
            <a href="https://twitter.com/RailonAcosta">
                <h5 class="row">Twitter</h5>
            </a>
                <a class = "d-flex justify-content-center" href = "https://twitter.com/RailonAcosta">
                   <%= cl_image_tag( "self-twitter_l4ytbe.jpg", :class=> "twitter-self-img")  %>
                </a>
        </div>
        <div class="d-column about_page-row-grey">
            <a href="https://www.linkedin.com/in/railon-acosta/">
                <h5 class="row">LinkedIn</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://www.linkedin.com/in/railon-acosta/">
                   <%= cl_image_tag( "prof_img_acvhnv.jpg", :class=> "linkedin-self-img")  %>               
            </a>
        </div>
        <div class="d-column about_page-row-white">
            <a href="https://github.com/RailonA?tab=repositories">
                <h5 class="row">Github</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://github.com/RailonA?tab=repositories">
                   <%= cl_image_tag( "self-github_brtnll.jpg", :class=> "github-self-img")  %>               
            </a>
        </div>
    
    </div>




    <div class="social-network d-none d-md-flex  d-lg-none   ">
      <div class="d-column col-12">
         
         <h3 class="d-flex justify-content-center mt-5">Social Network</h3>

        <div class="d-flex justify-content-center about_page-row-white ">
           <div>
            <a class=" justify-content-center" href="https://www.facebook.com/RailonA.ArtStudio">
                <h5 class="">Facebook</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://www.facebook.com/RailonA.ArtStudio">
                <%= cl_image_tag( "art14_big4uu.jpg", :class=> "facebook-self-img")  %>
            </a>
            </div>
            <div>
            <a href="https://www.instagram.com/railon.a/">
                <h5 class="">Instagram</h5>
            </a>
                <a class = "d-flex justify-content-center" href="https://www.instagram.com/railon.a/">
                    <%= cl_image_tag( "art-17_dcsxu8.jpg", :class=> "instagram-self-img")  %>
                </a>
            </div>
        </div>

        <div class=" d-flex justify-content-center about_page-row-grey">
            <div>
             <a href="https://twitter.com/RailonAcosta">
                <h5 class="row">Twitter</h5>
            </a>
                <a class = "d-flex justify-content-center" href = "https://twitter.com/RailonAcosta">
                   <%= cl_image_tag( "self-twitter_l4ytbe.jpg", :class=> "twitter-self-img")  %>
                </a>
            </div>
            <div>
            <a href="https://www.linkedin.com/in/railon-acosta/">
                <h5 class="row">LinkedIn</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://www.linkedin.com/in/railon-acosta/">
                   <%= cl_image_tag( "prof_img_acvhnv.jpg", :class=> "linkedin-self-img")  %>               
            </a>
            </div>
        </div>

        <div class="d-flex justify-content-center about_page-row-white">
            <div>
            <a href="https://github.com/RailonA?tab=repositories">
                <h5 class="row">Github</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://github.com/RailonA?tab=repositories">
                   <%= cl_image_tag( "self-github_brtnll.jpg", :class=> "github-self-img")  %>               
            </a>
            </div>
        </div>
        
     </div>
    </div>

       <div class="social-network d-none d-md-none  d-lg-flex   ">
      <div class="d-column col-12">
         
         <h3 class="d-flex justify-content-center mt-5">Social Network</h3>

        <div class="d-flex justify-content-center about_page-row-white ">
           <div>
            <a class=" justify-content-center" href="https://www.facebook.com/RailonA.ArtStudio">
                <h5 class="">Facebook</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://www.facebook.com/RailonA.ArtStudio">
                <%= cl_image_tag( "art14_big4uu.jpg", :class=> "facebook-self-img")  %>
            </a>
            </div>
            <div>
            <a href="https://www.instagram.com/railon.a/">
                <h5 class="">Instagram</h5>
            </a>
                <a class = "d-flex justify-content-center" href="https://www.instagram.com/railon.a/">
                    <%= cl_image_tag( "art-17_dcsxu8.jpg", :class=> "instagram-self-img")  %>
                </a>
            </div>
                        <div>
             <a href="https://twitter.com/RailonAcosta">
                <h5 class="row">Twitter</h5>
            </a>
                <a class = "d-flex justify-content-center" href = "https://twitter.com/RailonAcosta">
                   <%= cl_image_tag( "self-twitter_l4ytbe.jpg", :class=> "twitter-self-img")  %>
                </a>
            </div>
        </div>

        <div class=" d-flex justify-content-center about_page-row-grey">
            <div>
            <a href="https://www.linkedin.com/in/railon-acosta/">
                <h5 class="row">LinkedIn</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://www.linkedin.com/in/railon-acosta/">
                   <%= cl_image_tag( "prof_img_acvhnv.jpg", :class=> "linkedin-self-img")  %>
            </a>
            </div>
            <div>
            <a href="https://github.com/RailonA?tab=repositories">
                <h5 class="row">Github</h5>
            </a>
            <a class = "d-flex justify-content-center" href="https://github.com/RailonA?tab=repositories">
                   <%= cl_image_tag( "self-github_brtnll.jpg", :class=> "github-self-img")  %>               
            </a>
            </div>
        </div>


        
     </div>
    </div>



</nav>




